.topnav {
  overflow: hidden;
  background-color: #8d629c;
  margin-left: 0px;
  margin-right: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #be8bc1;
  color: #ffffff;
}

.selectedLink {
  background-color: #321854;
  color: #ffffff;
}

body {
  background-color: #fff9ef;
  color: #321854;
  margin-right: 0px;
  margin-left: 0px;
}

h1 {
  color: #53347a;
  align: center;
}

h2, h3, h4, h5 {
  color: #634c81;
}

#normal a {
  color: #be8bc1;
  font-family: Arial, sans-serif;
  margin-right: 100px;
  margin-left: 10px;
}

a {
  color: #be8bc1;
  font-family: Arial, sans-serif;
}

img {
  align: left;
  margin-left: 0px;
}


p, h1, h2, h3, h4, h5 {
    font-family: Arial, sans-serif;
    margin-right: 100px;
    margin-left: 10px;
}

