body {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: #333333;
	color: white;
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 5%;
}

img {
	max-height: 40vh;
	max-width: 90%;
	display: block;
        margin-left: auto;
        margin-right: auto;
}

a {
	color: white;
}

a:hover {
	color: #6666ff;
}

a.title {
	font-size: xx-large;
	font-weight: bolder;
	text-decoration: none;
	color: white;
}

.post-link-head {
	color: white;
	font-weight: bold;
	text-decoration: none;
 }
 
.post-link-head:hover {
	color: #6666ff;
	font-weight: bold;
 }
 
 .post-link-descrip {
	 font-style: italic;
	 color: #bbbbbb;
 }

 .post-link-div {
	 padding: 20px;
	 display: block;
 }
 .post-link-div:hover {
	 padding: 20px;
	 display: block;
	 background-color: #444444;
 }
 
 .home-link {
     color: #bbbbbb;
 }

.post-list {  
	padding-top: 20px;
	width: 90%;
}

.post-body {
	margin: 5px;	
}
